@inject ISnackbar Snackbar
@inject ILogger<MudInputWithUnitAdornment> logger
@if(ShowAddPanel){
<div hidden="@(!ShowAddPanel)">
    <MudPaper Elevation="1" Class="py-6" Style="@($"position: {DataUtils.FLOATING_POSITION}; background:{DataUtils.FLOATING_COLOUR};")" >               
        <MudPaper Class="mx-4 my-4">
            <MudToolBar>
                <MudText Typo="Typo.h6">Drilling Fluid</MudText>
                <MudSpacer/>
                 <MudButton StartIcon="@Icons.Material.Outlined.Add" 
                    IconColor="@Color.Success" OnClick="@AddDrillingFluidDescription">
                        New Drilling Fluid Description
                </MudButton>
            </MudToolBar> 
            <br/>
            <MudGrid Class="xm-2 ym-2 px-4">
                <MudItem xs="3">
                    <MudTextField @bind-Value="@drillingFluidInstance.Name" Label="Name" ShrinkLabel/>
                </MudItem>
                <MudItem xs="7">
                    <MudTextField @bind-Value="@drillingFluidInstance.Description" Label="Description" ShrinkLabel/>
                </MudItem>
                
                <MudItem xs="3">
                    <MudSelect T="DrillingFluidDescription" @bind-Value="@drillingFluidInstance.DrillingFluidDescription" 
                        Label="Drilling Fluid Description" Text="@drillingFluidInstance.DrillingFluidDescription.Name" ShrinkLabel>
                        @if(drillingFluidDescriptionList != null)
                        {
                            @foreach (DrillingFluidDescription fluidDescription in drillingFluidDescriptionList)
                            {
                                <MudSelectItem Value="@fluidDescription">
                                    @fluidDescription.Name
                                </MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="3">
                    <MudSelect T="Guid" @bind-Value="@drillingFluidInstance.DrillStringID" Label="Drill String" ShrinkLabel
                        Text="@drillStringGuidToName[drillingFluidInstance.DrillStringID]">
                        @foreach (Guid id in drillStringGuidToName.Keys)
                        {
                            <MudSelectItem Value="@id">@drillStringGuidToName[id]</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
    
            </MudGrid>
            <MudToolBar>
                <MudButton StartIcon="@Icons.Material.Outlined.Save" IconColor="@Color.Primary" 
                    OnClick="@AddDrillingFluid">Add drilling fluid</MudButton>          
                <MudSpacer/>
                <MudButton StartIcon="@Icons.Material.Outlined.Close" IconColor="@Color.Error" 
                        OnClick="@ClosePanel">Close</MudButton>     
            </MudToolBar>
        </MudPaper>        
    </MudPaper>
    <DrillingFluidDescriptionAdd ShowAddPanel="@showFluidDescriptionPanel" OnMessageSent="@HandleDrillingFluidDescriptionAddition"/>

</div>
}
@code{
    [CascadingParameter]
    private MudUnitAndReferenceChoiceTag? Parent { get; set; }
    [Parameter]
    public bool ShowAddPanel {get; set;} = false;
    [Parameter]
    public EventCallback OnMessageSent {get; set;}
    private DrillingFluid drillingFluidInstance = PseudoConstructors.ConstructDrillingFluid();
    private List<DrillingFluidDescription>? drillingFluidDescriptionList;
    private List<DrillString>? drillStringList;
    private bool showFluidDescriptionPanel = false;
                
    private Dictionary<Guid, string> drillStringGuidToName = new Dictionary<Guid, string>()
    {
        {new Guid(), "Not found"}
    };
    
    private async Task SendMessage()
    {
        await OnMessageSent.InvokeAsync();
    }
    private async Task UpdateDrillingFluidDescriptionList()
    {   
        try
        {
            // Show main panel          
            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of drilling fluid description from client: " + APIUtils.HttpClientDrillingFluid);
            var drillingFluidDescriptionTask = APIUtils.ClientDrillingFluid.GetAllDrillingFluidDescriptionAsync();
          
            List<Task> loadingTaskList = new List<Task> { drillingFluidDescriptionTask };
            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == drillingFluidDescriptionTask)
                {
                    try
                    {
                        drillingFluidDescriptionList = (List<DrillingFluidDescription>)await drillingFluidDescriptionTask; // awaiting the finished task allows to retrieve its result and throw exception if needed              
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load DrillingFluidDescription from client");
                    }
                }    
                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem DrillingFluid initialization");
        }
    }
    private async Task UpdateDrillStringList()
    {
        try
        {
            // Show main panel          
            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of drill string from client: " + APIUtils.HttpClientDrillingFluid);
            var drillStringTask = APIUtils.ClientDrillString.GetAllDrillStringAsync();                        
            List<Task> loadingTaskList = new List<Task> {drillStringTask};   
            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == drillStringTask)
                {
                    try
                    {
                        drillStringList = (List<DrillString>)await drillStringTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (drillStringList != null)
                        {
                            foreach(DrillString drillString in drillStringList)
                            {
                                if (!drillStringGuidToName.ContainsKey(drillString.MetaInfo.ID))
                                    drillStringGuidToName.Add(drillString.MetaInfo.ID, drillString.Name);                            
                            }
                        }
                        else
                        {
                            logger.LogWarning("Returned list of drill strings were null on initialization");
                            Snackbar.Add("Returned list of drill strings were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load drill strings from client");
                    }
                }
                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem DrillingFluid initialization");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (ShowAddPanel)
        {
            await UpdateDrillingFluidDescriptionList();               
            await UpdateDrillStringList();
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }
    protected override async Task OnParametersSetAsync()
    {
        if (ShowAddPanel)
        {
            await UpdateDrillingFluidDescriptionList();
            await UpdateDrillStringList();
        }
    }
    private async Task AddDrillingFluid()
    {   
        try
        {
            MetaInfo metaInfo = new() { ID = Guid.NewGuid(), HttpHostName = APIUtils.HostNameDrillingFluid, HttpHostBasePath = APIUtils.HostBasePathDrillingFluid, HttpEndPoint = "DrillingFluid/" };
            DateTimeOffset creationDate = DateTimeOffset.UtcNow;
            drillingFluidInstance.MetaInfo = metaInfo;
            drillingFluidInstance.CreationDate = creationDate;
            drillingFluidInstance.LastModificationDate = creationDate;
                        
            await APIUtils.ClientDrillingFluid.PostDrillingFluidAsync(drillingFluidInstance);
            logger.LogInformation("DrillingFluid posted successfully");
            Snackbar.Add("DrillingFluid posted successfully", Severity.Success);
            ShowAddPanel = false;
            showFluidDescriptionPanel = false;
            await SendMessage();
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to add a new DrillingFluid");
            Snackbar.Add("Impossible to add a new DrillingFluid", Severity.Warning);
        }
    }
    private async Task ClosePanel()
    {
        ShowAddPanel = false;
        showFluidDescriptionPanel = false;
        await SendMessage();
    }
    private void AddDrillingFluidDescription()
    {
        showFluidDescriptionPanel = true;
    }
    private async Task HandleDrillingFluidDescriptionAddition()
    {
        showFluidDescriptionPanel = false;
        await UpdateDrillingFluidDescriptionList();
    }
}