@page "/DrillingFluid"
@inject ILogger<DrillingFluidMain> logger
@inject ISnackbar Snackbar

<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                              HttpBasePath=@APIUtils.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (drillingFluidList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div hidden="@isHiddenMainPanel">
            <MudToolBar>
                <MudText Class="my-2 pt-2"Typo="Typo.h6">Drilling Fluid</MudText>          
            </MudToolBar>
            <MudDataGrid T="DrillingFluid" MultiSelection="true" Items="@drillingFluidList" SelectedItemsChanged="@SelectedItemsChanged"
                         EditMode="DataGridEditMode.Cell"
                         Hover="true"
                         SortMode="SortMode.Multiple" QuickFilter="@_drillingFluidFilter" Filterable="false"
                         ReadOnly="false" ColumnResizeMode="ResizeMode.Column" Elevation="0">
                
                <ToolBarContent>                    
                    <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@AddDrillingFluid" IconColor="@Color.Success" Class="add-item-btn">New drilling fluid</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.DeleteForever" OnClick="@DeleteSelectedDrillingFluid" IconColor="@Color.Error" Class="add-item-btn">Delete selection</MudButton>    
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <Columns>
                    <SelectColumn T="DrillingFluid" />
                    <PropertyColumn Property="x => x.Name" Title="Name" CellStyle="width: 30%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.Description" Title="Description" CellStyle="width: 60%;" Sortable="true" Editable="false" />
                    <TemplateColumn>
                        <EditTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="(() => DeleteDrillingFluid(context.Item.MetaInfo.ID))" />
                        </EditTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="DrillingFluid"/>
                </PagerContent>
            </MudDataGrid>
        </div>
    }
    <DrillingFluidAdd ShowAddPanel="showAddPanel" OnMessageSent="HandleDrillingFluidAddition"/>

</MudUnitAndReferenceChoiceTag>

@code {
    [Inject] private IDialogService DialogService { get; set; }
    // DrillingFluid related variables
    private List<DrillingFluid> drillingFluidList = new();
    private List<DrillingFluid> selectedDrillingFluidList = new();
    private DrillingFluid? currentDrillingFluid;
    private List<object?>? inputDataList = new(); // container used to pass input data to the DrillingFluidEdit razor component without specifying content types (required by µservice Template)
                                                  // DrillingFluidDescription related variables
    // UI related variables
    public bool isHiddenMainPanel;
    public bool isHiddenEditPanel;
    private string? _searchString;
    private bool showAddPanel = false;
    private bool showFluidDescriptionPanel = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            isHiddenMainPanel = false;
            isHiddenEditPanel = true;
            currentDrillingFluid = null;

            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of DrillingFluid from client: " + APIUtils.HostNameDrillingFluid);
            var drillingFluidTask = APIUtils.ClientDrillingFluid.GetAllDrillingFluidAsync();

            List<Task> loadingTaskList = new List<Task> { drillingFluidTask };            

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == drillingFluidTask)
                {
                    try
                    {
                        drillingFluidList = (List<DrillingFluid>?)await drillingFluidTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (drillingFluidList != null)
                        {
                            drillingFluidList.Sort((t1, t2) => t1.Name.CompareTo(t2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of DrillingFluid were null on initialization");
                            Snackbar.Add("Returned list of DrillingFluid were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load DrillingFluid from client");
                    }
                }
            
                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem DrillingFluid initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }
    protected override void OnParametersSet()
    {
        showAddPanel = false;
    }
    private void AddDrillingFluid()
    {
        showAddPanel = true;
    }

    private async Task RowClicked(DataGridRowClickEventArgs<DrillingFluid> args)
    {
        await EditDrillingFluid(args.Item.MetaInfo.ID);
    }
    private async Task HandleDrillingFluidAddition()
    {
        showAddPanel = false;
        await OnInitializedAsync();
    }
    
    private async Task EditDrillingFluid(Guid id)
    {
        try
        {
            currentDrillingFluid = await APIUtils.ClientDrillingFluid.GetDrillingFluidByIdAsync(id);
            if (currentDrillingFluid != null)
            {
                isHiddenMainPanel = true;
                isHiddenEditPanel = false;
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to load DrillingFluid");
                Snackbar.Add("Impossible to load DrillingFluid", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load DrillingFluid to be edited");
        }
    }

    private async Task DeleteDrillingFluid(Guid id)
    {
        if (await ConfirmDeletion())
        {
            try
            {
                await APIUtils.ClientDrillingFluid.DeleteDrillingFluidByIdAsync(id);
                await OnInitializedAsync();
            }
            catch (Exception ex)
            {
                logger.LogError(ex, "Impossible to delete DrillingFluid");
            }
        }
    }

    private async Task DeleteSelectedDrillingFluid()
    {
        if (await ConfirmDeletion()){
            try
            {
                foreach (DrillingFluid drillingFluid in selectedDrillingFluidList)
                {
                    await APIUtils.ClientDrillingFluid.DeleteDrillingFluidByIdAsync(drillingFluid.MetaInfo.ID);
                }
                await OnInitializedAsync();
            }
            catch (Exception ex)
            {
                logger.LogError(ex, "Impossible to delete all DrillingFluid");
            }
        }
    }
    private async Task<bool> ConfirmDeletion()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true    
        };
        var dialog = await DialogService.ShowAsync<DialogDeleteTemplate>("DELETE", options);
        var result = await dialog.Result;
        StateHasChanged();
        if (result == null)
        {
            return false;
        }
        else
        {
            return (!result.Canceled);
        }
    }
    //Quick filter - filter gobally across multiple columns with the same input
    private Func<DrillingFluid, bool>
    _drillingFluidFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if ($"{x.Name} {x.Description}".Contains(_searchString))
            return true;

        return false;
    };
    

    //Events
    private void StartedEditingItem(DrillingFluid item)
    {
        //Activating Edit event capture with parameter StartedEditingItem="@StartedEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.StartedEditingItem(...)"
    }

    private void CancelledEditingItem(DrillingFluid item)
    {
        //Activating Cancel event capture with parameter CancelledEditingItem = "@CancelledEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CancelledEditingItem(...)"
    }

    private void CommittedItemChanges(DrillingFluid item)
    {
        //Activating Commit event capture with parameter CommittedItemChanges = "@CommittedItemChanges" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CommittedEditingItem(...)"
    }

    void SelectedItemsChanged(HashSet<DrillingFluid>
        items)
    {
        selectedDrillingFluidList.Clear();
        selectedDrillingFluidList.InsertRange(0, items);
    }

    private async void ShowMainPanel()
    {
        isHiddenMainPanel = false;
        isHiddenEditPanel = true;
        await OnInitializedAsync();
    }
}
