@inject IDrillingFluidAPIUtils Api
@page "/DrillingFluidOrder"
@inject ILogger<DrillingFluidMain> logger
@inject ISnackbar Snackbar

<MudUnitAndReferenceChoiceTag HttpHost=@Api.HostNameUnitConversion
                              HttpBasePath=@Api.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (drillingFluidOrderList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div hidden="@isHiddenMainPanel">
            <MudToolBar>
                <MudText Class="my-2 pt-2"Typo="Typo.h6">Drilling Fluid</MudText>          
            </MudToolBar>
            <MudDataGrid T="DrillingFluidOrder" MultiSelection="true" Items="@drillingFluidOrderList" SelectedItemsChanged="@SelectedItemsChanged"
                         EditMode="DataGridEditMode.Cell"
                         Hover="true"
                         SortMode="SortMode.Multiple" QuickFilter="@_drillingFluidOrderFilter" Filterable="false"
                         ReadOnly="false" ColumnResizeMode="ResizeMode.Column" Elevation="0">
                
                <ToolBarContent>                    
                    <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@AddDrillingFluidOrder" IconColor="@Color.Success" Class="add-item-btn">New order</MudButton>
                    <MudButton StartIcon="@Icons.Material.Filled.DeleteForever" OnClick="@DeleteSelectedDrillingFluidOrder" IconColor="@Color.Error" Class="add-item-btn">Delete orders</MudButton>    
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>
                <Columns>
                    <SelectColumn T="DrillingFluidOrder" />
                    <PropertyColumn Property="x => x.Name" Title="Name" CellStyle="width: 10%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.Description" Title="Description" CellStyle="width: 30%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.MetaInfo.ID" Title="Id" CellStyle="width: 30%;" Sortable="true" Editable="false" />                    
                    <TemplateColumn>
                        <EditTemplate>
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Filled.RemoveRedEye" OnClick="(() => ViewDrillingFluidOrder(context.Item.MetaInfo.ID))" />                        
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(() => DeleteDrillingFluidOrder(context.Item.MetaInfo.ID))" />
                        </EditTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="DrillingFluidOrder"/>
                </PagerContent>
            </MudDataGrid>
        </div>
    }
    <CompletionOrderAdd ShowAddPanel="showAddPanel" OnMessageSent="HandleDrillingFluidOrderAddition"/>
    <CompletionOrderView ShowViewPanel="showViewPanel" OrderID="@ViewOrderID" OnMessageSent="HandleDrillingFluidOrderView"/>

</MudUnitAndReferenceChoiceTag>

@code {
    [Inject] private IDialogService DialogService { get; set; }
    // DrillingFluidOrder related variables
    private List<DrillingFluidOrder> drillingFluidOrderList = new();
    private List<DrillingFluidOrder> selectedDrillingFluidOrderList = new();
    private DrillingFluidOrder? currentDrillingFluidOrder;
    private List<object?>? inputDataList = new(); // container used to pass input data to the DrillingFluidOrderEdit razor component without specifying content types (required by µservice Template)
                                                  // DrillingFluidOrderDescription related variables
    // UI related variables
    public bool isHiddenMainPanel;
    public bool isHiddenEditPanel;
    private string? _searchString;
    private bool showAddPanel = false;
    //View panel
    private bool showViewPanel = false;
    private Guid? ViewOrderID = null;

    private bool showFluidDescriptionPanel = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            isHiddenMainPanel = false;
            isHiddenEditPanel = true;
            currentDrillingFluidOrder = null;

            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of DrillingFluidOrder from client: " + Api.HostNameDrillingFluid);
            var drillingFluidOrderTask = Api.ClientDrillingFluid.GetAllDrillingFluidOrderAsync();

            List<Task> loadingTaskList = new List<Task> { drillingFluidOrderTask };            

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == drillingFluidOrderTask)
                {
                    try
                    {
                        drillingFluidOrderList = (List<DrillingFluidOrder>?)await drillingFluidOrderTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (drillingFluidOrderList == null)                        
                        {
                            logger.LogWarning("Returned list of DrillingFluidOrder were null on initialization");
                            Snackbar.Add("Returned list of DrillingFluidOrder were null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load DrillingFluidOrder from client");
                    }
                }
            
                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem DrillingFluidOrder initialization");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private void AddDrillingFluidOrder()
    {
        showAddPanel = true;
    }

    private async Task RowClicked(DataGridRowClickEventArgs<DrillingFluidOrder> args)
    {
        await EditDrillingFluidOrder(args.Item.MetaInfo.ID);
    }
    private async Task HandleDrillingFluidOrderAddition()
    {
        showAddPanel = false;
        await OnInitializedAsync();
    }
    private void HandleDrillingFluidOrderView()
    {
        showViewPanel = false;
    }

    private async Task EditDrillingFluidOrder(Guid id)
    {
        try
        {
            currentDrillingFluidOrder = await Api.ClientDrillingFluid.GetDrillingFluidOrderByIdAsync(id);
            if (currentDrillingFluidOrder != null)
            {
                isHiddenMainPanel = true;
                isHiddenEditPanel = false;
                await InvokeAsync(() => { StateHasChanged(); });
            }
            else
            {
                logger.LogWarning("Impossible to load DrillingFluidOrder");
                Snackbar.Add("Impossible to load DrillingFluidOrder", Severity.Warning);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load DrillingFluidOrder to be edited");
        }
    }
    private void ViewDrillingFluidOrder(Guid id)
    {
        showViewPanel = true;
        ViewOrderID = id;
    }
    private async Task DeleteDrillingFluidOrder(Guid id)
    {
        if (await ConfirmDeletion())
        {
            try
            {
                await Api.ClientDrillingFluid.DeleteDrillingFluidOrderByIdAsync(id);
                await OnInitializedAsync();
            }
            catch (Exception ex)
            {
                logger.LogError(ex, "Impossible to delete DrillingFluidOrder");
            }
        }
    }

    private async Task DeleteSelectedDrillingFluidOrder()
    {
        if (await ConfirmDeletion()){
            try
            {
                foreach (DrillingFluidOrder drillingFluidOrder in selectedDrillingFluidOrderList)
                {
                    await Api.ClientDrillingFluid.DeleteDrillingFluidOrderByIdAsync(drillingFluidOrder.MetaInfo.ID);
                }
                await OnInitializedAsync();
            }
            catch (Exception ex)
            {
                logger.LogError(ex, "Impossible to delete all DrillingFluidOrder");
            }
        }
    }
    private async Task<bool> ConfirmDeletion()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true    
        };
        var dialog = await DialogService.ShowAsync<DialogDeleteTemplate>("DELETE", options);
        var result = await dialog.Result;
        StateHasChanged();
        if (result == null)
        {
            return false;
        }
        else
        {
            return (!result.Canceled);
        }
    }
    //Quick filter - filter gobally across multiple columns with the same input
    private Func<DrillingFluidOrder, bool>
    _drillingFluidOrderFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if ($"{x.Name} {x.Description}".Contains(_searchString))
            return true;

        return false;
    };
    

    //Events
    private void StartedEditingItem(DrillingFluidOrder item)
    {
        //Activating Edit event capture with parameter StartedEditingItem="@StartedEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.StartedEditingItem(...)"
    }

    private void CancelledEditingItem(DrillingFluidOrder item)
    {
        //Activating Cancel event capture with parameter CancelledEditingItem = "@CancelledEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CancelledEditingItem(...)"
    }

    private void CommittedItemChanges(DrillingFluidOrder item)
    {
        //Activating Commit event capture with parameter CommittedItemChanges = "@CommittedItemChanges" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CommittedEditingItem(...)"
    }

    void SelectedItemsChanged(HashSet<DrillingFluidOrder>
        items)
    {
        selectedDrillingFluidOrderList.Clear();
        selectedDrillingFluidOrderList.InsertRange(0, items);
    }

    private async void ShowMainPanel()
    {
        isHiddenMainPanel = false;
        isHiddenEditPanel = true;
        await OnInitializedAsync();
    }
}

